.place__image {
    min-width: 320px;
    width: 100%;
    margin: 0 0 32px 0;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .place__image {
        min-width: 340px;
        max-width: 440px;
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__image {
        min-width: 440px;
        width: 43vw;
        max-width: 460px;
    }
}

@media screen and (min-width: 1024px) {
    .place__image {
        min-width: 460px;
    }
}