.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    width: 288px;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 1.22;
        width: 360px;
    }
}