.place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}

