.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    padding: 0;
    margin: 0 calc(10px + 2%) 25px calc(10px + 2%);
}

@media screen and (min-width: 768px) {
    .place__paragraph {
        margin: 0 0 25px 0;
    }

    .place__paragraph:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        font-size: 18px;
    }

}