.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;

}

@media screen and (min-width: 768px) {
    .footer__copyright {
        line-height: 1.14;
    }
}