.lead__image {
    min-width: 320px;
    min-height: 200px;
    margin: 0 0 8px 0;
    padding: 0;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .lead__image {
        margin: 0 calc(39% - 351.36px) 8px calc(39% - 351.36px);
        width: calc(100% - ((39% - 351.36px) * 2));
    }
}

@media screen and (min-width: 1280px) {
    .lead__image {
        margin: 0 12% 8px 12%;
        width: 76%;
    }
}