.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    width: 288px;
    margin: 0 auto;

}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 1.06;
        width: 560px;
    }
}