.place {
    margin: 0 0 50px 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .place {
        margin: 0 calc(10% - 52px) 73px calc(10% - 52px);
        display: grid;
        grid-template-columns: 43vw 1fr;
        grid-template-rows: auto auto;
        row-gap: 48px;
        column-gap: 28px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        margin: 0 calc(39% - 351.36px) 80px calc(39% - 351.36px);
        grid-template-columns: fit-content(440px) 1fr;
        column-gap: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .place {
        margin: 0 12% 80px 12%;
    }
}
