.footer {
    margin: 0 calc(10px + 2%) 24px calc(10px + 2%);
}

@media screen and (min-width: 768px) {
    .footer {
        margin: 0 calc(10% - 52px) 24px calc(10% - 52px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        margin: 0 48px 24px 48px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        margin: 0 4% 24px 4%;
    }
}