.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
    margin: 0 calc(10px + 2%) 40px calc(10px + 2%);
    padding: 0;
}

@media screen and (min-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 1.07;
        margin: 0 calc(10% - 52px) 40px calc(10% - 52px);
    }
}

@media screen and (min-width: 1024px) {
    .intro__title {
        margin: 0 calc(39% - 351.36px) 40px calc(39% - 351.36px);
    }
}

@media screen and (min-width: 1280px) {
    .intro__title {
        margin: 0 12% 40px 12%;
    }
}